/* You can add global styles to this file, and also import other style files */

html, body { height: 90vh; }

.centred-title{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
}

body { 
	margin: 0; 
	padding: 2em;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	
}

code {
  background-color: #e5e5e5;
  margin: 0 .5rem;
  padding: 0 .25rem;
}
b{
  font-weight: 500;
}
