<ul>
  <li>
    <b>Data-table </b>(chemical element) <code>&lt;table mat-table&gt;</code>
    <a routerLink="/data-list-chemical-elements">
      here
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </li>
  <li>
    <b>Checkbox </b>
    <code>&lt;mat-checkbox&gt;</code>
    or
    <code>&lt;mat-radio-group&gt;</code>
    and
    <code>&lt;mat-radio-button&gt;</code>
    <a routerLink="/checkbox">
      here
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </li>
  <li>
    <b>Select</b> <code>&lt;mat-select&gt;</code>
    <a routerLink="/select">
      here
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </li>
  
</ul>
